body {
    color: #333333;
    font: 13px/20px Arial,Helvetica,"Nimbus Sans L",sans-serif;
}

.ch-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px auto;
}

.ch-header {
    height: 50px;
    padding: 20px 10px;
    background: #eee;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.ch-footer {
    clear:both;
    text-align: center;
    margin: 10px auto;
    background: #eee;
}

.mh-margins {
    margin-left: 10px;
    margin-right: 10px;
}

.ui-widget .ui-widget {
    z-index: 1000;
}

.frameref {
    width:99%;
    height: 500px;
}

.frameref-std {
    width:99%;
    height: 350px;
}

.frameref-philiatory {
    width:99%;
    height: 350px;
}

.frameref-study {
    width:99%;
    height: 400px;
}

.frameref-treatment {
    width:99%;
    height: 400px;
}

.frameref-antecedent {
    width:99%;
    height: 400px;
}

.frameref-plate {
    width:99%;
    height: 350px;
}

.frameref-patient {
    width:99%;
    height: 450px;
}